table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding 0;
}
tr{
    background-color: lightgreen;
    color: indianred;
}
.oneven{
    background-color: greenyellow;
    color: blue;
}
.even{
    background-color: forestgreen;
    color: darkblue;
}
